<h3><i class="fas fa-folder-open"></i> Your Stories</h3>
<div class="section">
    <p class="lead">Kindly Login to continue to share your experiences with community</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>